/* Importation des Fonts */
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Importation des Fonts */

/* Début CSS Global */
*{
    margin: 0;
    scroll-behavior: smooth;
}
img {
    width: 100%;
    object-fit: cover;
}
ul {
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
i {
    color: var(--colorred);
    font-size: 25px;
}
/* Fin CSS Global */

/* Début des class */
.contain-1900 {
    max-width: 1900px;
    margin: auto;
}
.contain-1440 {
    max-width: 1440px;
    margin: auto;
}
.contain-950 {
    max-width: 950px;
}
.contain-780 {
    max-width: 780px;
}
.contain-650 {
    max-width: 650px;
}
.contain-500 {
    max-width: 500px;
}
.contain-450 {
    max-width: 450px;
}
.contain-175 {
    max-width: 175px;
}
.button1 {
    background-color: var(--colorwhite);
    border: 1px solid var(--colorpink);
    color: var(--colorblack);
    display: inline-block;
    max-width: fit-content;
    padding: 13px 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font2);
}
.button1:hover {
    background-color: var(--colorred);
    color: var(--colorwhite);
} 
.button2 {
    border: 1px solid var(--colorpink);
    color: var(--colorwhite);
    display: inline-block;
    max-width: fit-content;
    padding: 13px 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font2); 
}
.button3 {
    background-color: var(--colorblue);
    color: var(--colorwhite);
    display: inline-block;
    max-width: fit-content;
    padding: 13px 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font2); 
}
.button4 {
    background-color: var(--colorpink);
    color: var(--colorwhite);
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    font-family: var(--font2); 
    border: none;
}
.radius3 {
    border-radius: 3px;
}
.bordercolorgrey {
    border: 1px solid var(--colorgrey4);
}
.uppercase {
    text-transform: uppercase;
}
.backgroundpink {
    background-color: var(--colorpink);
}
/* Fin des class */

/* Début des variables */
:root {
    --colorblack : #000; 
    --colorred : #cc3900;
    --colorpink : #fbbbcd;
    --colorwhite : #fff;
    --colorgrey : #F7F7F7;
    --colorgrey2: #9C9C9C;
    --colorgrey3: #6A6A6A;
    --colorgrey4: #818A91;
    --colorgrey6:#7A7A7A;
    --colorblue : #605BE5;
    --font1 : "Gloria Hallelujah";
    --font2 : "Noto Sans";
}
/* Fin des variables  */

/* Début CSS Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    max-width: 180px;
}
header .nav1 ul {
    display: flex;
    gap: 20px;
}
header .nav1 ul li a {
    color: var(--colorblack);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font2);
}
header .nav1 ul li a:hover {
    color: var(--colorred);
}
header .nav2 ul {
    display: flex;
    gap: 20px;
}
header .nav2 {
    padding: 10px 40px;
}
header .nav2 ul li i {
    font-size: 24px;
}
.burger-icon {
    display: none;
}
/* Fin cSS Header */

/* Début CSS Section 1 Index */
#mainaccueil #section1 {
    background-image: url(../img/background-section1.png);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position-y: 60%;
    background-position-x: 100%;
    padding: 100px 0px;
}
#mainaccueil #section1 article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
#mainaccueil #section1 article div div {
    display: flex;
    grid-template-columns: 1fr 1fr;
    align-items: baseline;
    gap: 12px;
}
#mainaccueil #section1 article div hr {
    width: 50px;
    height: 1px;
    border-top: solid 2px var(--colorred);
}
#mainaccueil #section1 article .welcome {
    font-size: 16px;
    font-weight: 500;
    color: var(--colorred);
    font-family: var(--font2);
}
h1 , #mainaccueil h2 {
    font-size: 45px;
    font-weight: 400;
    font-family: var(--font1);
    line-height: 45px;
    font-family: var(--font1);
}
#mainaccueil #section1 .h2section1 {
    padding-top: 16px;
    padding-bottom: 20px;
    font-size: 28px;
    font-weight: 400;
}
#mainaccueil #section1 article p {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
}
#mainaccueil #section1 article img {
    max-width: 552px;
}
/* Fin CSS Section 1 Index */

/* Début CSS Section 2 Index */
#mainaccueil #section2 article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
}
#section2 > article > div.contain-950.backgroundpink {
    height: 860px;
    display: flex;
}
#section2 > article > div.contain-950.backgroundpink > div {
    margin: auto;
    padding: 10px;
}
#section2 > article > div.contain-950.backgroundpink > div h2 {
    padding-bottom: 70px;
}
#section2 > article > div > div > p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    font-family: var(--font2);
}
#section2img {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4,1fr)
}
#section2img > img{
    height: 400px;
}
#section2img > img:nth-child(5) {
    grid-column: 1/3;
}
#section2img > img:nth-child(6) {
    grid-column: 3/5;
}
#section2img a {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
    text-decoration: underline 1px solid;
    color: var(--colorblack);
}
/* Fin CSS Section 2 Index */

/* Début CSS Section 3 Index*/
#section3 {
    padding-bottom: 100px;
    padding-top: 100px;
}
#section3>div>:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
#section3 > div > div:nth-child(2) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;
}
#section3 > div > div:nth-child(2)>article {
    display: grid;
    gap: 10px;
    text-align: center;
}
#section3 > div > div:nth-child(2)>article img {
    max-width: 332px;
    height: 300px;
}
#section3 > div > div:nth-child(2)>article h3 {
    font-size: 25px ;
    font-weight: 400;
    font-family: var(--font1);
}
#section3 > div > div:nth-child(2)>article p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
}
/* Fin CSS Section 3 Index */

/* Début CSS Section 4 Index*/
#section4 {
    padding: 100px 10px;
    background-color: #F7F7F7;
}
#section4>div h2 {
    text-align: center;
    margin-bottom: 70px;
}
#section4>div>div>article h3 {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font1);
}
#section4>div>div>article p {
    padding-bottom: 30px;
    font-family: var(--font2);
    font-size: 14px;
    font-weight: 400;
}
#section4>div>div {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
#section4>div>div>article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section4>div>div>article div ul {
    gap: 20px;
    display: flex;
}
#section4>div>div>article img {
    max-width: 450px ;
    height: 300px;
}
/* Fin CSS Section 4 Index*/

/* Début CSS Section 5 Index*/
#section5 {
    padding: 100px 0px;
}
#section5 > div > div:nth-child(1) {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    padding: 0px 20px;
}
#section5 > div > div:nth-child(2) {
    padding-top: 50px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}
#section5>div>div:nth-child(2)>article {
    display: grid;
    gap: 10px;
    padding: 0 20px;
}
#section5>div>:nth-child(2)>article h3 {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font1);
}
#section5>div>div:nth-child(2)>article .date {
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font2);
    color: var(--colorgrey2);
}
#section5>div>div:nth-child(2)>article p {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
}
#section5>div>div:nth-child(2)>article i, #section5>div>div>article a {
    font-size: 16px;
    color: var(--colorblack);
    font-weight: 600;
}
#section5>div>div:nth-child(2)>article>img {
    max-width: 460px;
    max-height: 460px;
}
/* Fin CSS Section 5 Index*/

/* Début CSS Section 6 Index*/
#section6 {
    display: flex;
    height: 533px;
    background-color: var(--colorred);
}
#section6 article {
    text-align: center;
    margin: auto;
    display: grid;
    gap: 20px;
    color: var(--colorwhite);
}
#section6 article a {
    margin: auto;
}
#section6 article p {
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    font-family: var(--font2);
    color: var(--colorwhite);
}
/* Fin CSS Section 6 Index */

/* Début CSS Actualités */
#mainactualite h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 400;
    font-family: var(--font1);
}
#section1head {
    display: flex;
    height: 400px;
}
#section1actu > div.contain-1440 {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}
#section1actu > div.contain-1440 h2 {
    grid-column: 1/4;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: var(--colorgrey6);
}
#section1actu > div.contain-1440 .button3 {
    grid-column: 1/4;
    max-width: 135px;
    margin: auto;
}
#section1actu > div.contain-1440 > article > img {
    max-width: 463px;
}
#section1actu > div.contain-1440 > article > h3 {
    color: var(--colorblack);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
}
#section1actu > div.contain-1440 > article > .date {
    color: var(--colorgrey2);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font2);
}
#section1actu > div.contain-1440 > article > p {
    font-family: var(--font2);
    font-weight: 400;
    font-size: 14px;
    color: var(--colorgrey3);
}
#section1actu > div.contain-1440 > article > a {
    color: var(--colorblue);
    font-size: 14px;
    font-weight: 400;
    font-family: var(--font2);
}
/* Fin CSS Actualités */

/* Début CSS oeuvre */
#sectionoeuvre>div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 70px;
    padding: 0px 10px;
}
#sectionoeuvre > div > h1 {
    grid-column: 1/5;
    font-size: 45px;
    font-weight: 400;
    font-family: var(--font1);
}
#sectionoeuvre>div>article {
    display: grid;
    gap: 20px;
}
#sectionoeuvre>div>article > img {
    height: 300px;
    max-width: 100%;
}
#sectionoeuvre>div>article h2 {
    color: var(--colorblack);
    font-size: 25px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    font-family: var(--font1);
}
#sectionoeuvre>div>article p {
    font-family: var(--font2);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
}
/* Fin CSS oeuvre */

/* Début CSS Contact */
#sectioncontact {
    background-image: url(../img/background-section1.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position-x: 100%;
    background-position-y: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 100px;
    padding: 10px;
}
#sectioncontact h1 {
    font-size: 45px;
    font-family: var(--font1);
    font-weight: 400;
    color: var(--colorblack);
}
#sectioncontact>article>p, #sectioncontact label {
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);
    color: var(--colorblack);
}
#sectioncontact>article>p {
    padding-bottom: 35px;
}
#sectioncontact>article>address>ul>li {
    display: flex;
    align-items: baseline;
    gap: 20px
}
#sectioncontact > article > address > ul > li:nth-child(2) > a , #sectioncontact > article > address > ul > li:nth-child(3) > a {
    max-width: 180px;
}
#sectioncontact>article>address>ul>li i {
    font-size: 16px;
}
#sectioncontact>article>address>ul>li a , #sectioncontact>article>address>ul>li>p {
    font-size: 20px;
    font-weight: 400;
    font-family: var(--font1);
    color: var(--colorblack);
}
#sectioncontact article, #sectioncontact form {
    display: grid;
}
#sectioncontact article {
    max-width: 550px;
    max-height: 446px;
}
#sectioncontact form {
    gap: 10px;
    max-width: 411px;
}
#sectioncontact form input {
    height: 40px;
}
#sectioncontact form textarea {
    height: 180px;
    resize: none;
}
#sectioncontact form input::placeholder, #sectioncontact form textarea::placeholder {
    color: var(--colorgrey6);
    font-family: var(--font2);
    font-weight: 400;
    font-size: 16px;
    opacity: 60%;
    padding: 10px 10px;
}
/* Fin CSS Contact */

/* Début CSS Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
footer .nav1 ul {
    display: flex;
    gap: 20px;
}
footer .nav1 ul li a {
    color: var(--colorblack);
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font2);
}
footer .nav1 a, footer .nav1 p {
    color: var(--colorblack);
    font-size: 16px;
    font-weight: 400;
    font-family: var(--font2);   
    text-align: center;
}
footer .nav1 p {
    margin-top: 30px;
}
footer .nav1 ul li a:hover {
    color: var(--colorred);
}
footer .nav1 p a:hover {
    color: var(--colorred);
}
footer .nav2 ul {
    display: flex;
    gap: 20px;
}
footer .nav2 {
    padding: 10px 40px;
}
footer .nav2 ul li i {
    font-size: 24px;
}
/* Début du CSS Tablette */
    @media only screen and (max-width:1024px) {

        .logo {
            max-width: 140px;
        }
        header .nav2 ul li i {
            font-size: 18px;
        }
        header .nav1 {
            display: none;
        }
        .burger-icon {
            display: block;
        }
        .burger-icon span {
            display: block;
            background-color: #1E1D31;
            width: 35px;
            height: 5px;
            margin: 6px 0;
        }

        /* CSS Index */
        #section1 {
            max-height: 100%;
        }
        #mainaccueil #section2 article {
            display: grid;
            grid-template-columns: 1fr;
        }

        #section2 > article > div {
            height: 100%;
        }

        #section2 > article > div > div h2 {
            text-align: center;
        }    
        #section3 > div > div:nth-child(2) > article img {
            margin: auto;
        }
        #section5 {
            padding: 50px 20px;          
        }
        /* CSS Index */


        /* CSS Actu */

        #section1actu > div.contain-1440 > article > img {
            max-width: 100%;
        }

        /* CSS Actu */

        footer {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }

        footer .nav1 {
            grid-row: 3/3;
            grid-column: 1/3;
            margin: auto;
        }
        footer > nav.nav1 > p {
            padding: 20px 0px;
        } 

        footer .nav2 ul {
            display: flex;
            justify-content: right;
        }
    }

/* Début du CSS Téléphone */
    @media only screen and (max-width:767px) {

        .logo {
            max-width: 80px;
        }
        footer .nav1 ul {
            display: grid;
            gap: 20px;
            text-align: center;
        }

        /* CSS Index */
        #mainaccueil #section1 article {
            display: grid;
            gap: 20px;
            grid-template-columns: 1fr;
            text-align: center;
        }

        #section1 article div {
            display: grid;
            gap: 20px;
        }

        #section1 article a {
            margin: auto;
        }

        #mainaccueil #section1 article div div {
            margin: auto;
        }

        #section1 > article > div {
            margin: auto;
        }

        #section1 > article > img {
            margin: auto;
        }

        #section2img {
            display: grid;  
            grid-template-columns: 1fr;
        }
        #section2img > img:nth-child(5), #section2img > img:nth-child(6) {
            grid-column: 1/1;
        }
        #section2img > a {
            text-align: center;
        }
        #section3 div> div:nth-child(1) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }
        #section3 > div > div:nth-child(1) > h2 {
            text-align: center;
        }
        #section3 > div > div:nth-child(1) > a {
            margin: auto;
        }
        #section3 > div > div:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        #section4>div>div:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr;
        }

        #section4>div>div:nth-child(2)>article {
            margin: auto;
        }
        #section5 > div > div:nth-child(2) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        #section5 > div > div > a {
            margin: auto;
            text-align: center;
        }

        #section5 > div > div > h2, #section5 > div > div > h3 {
            text-align: center;
        }

        #section5 > div > div:nth-child(1) {
            display: grid;
            grid-template-columns: 1fr;
            gap: 20px;
        }

        #section5>div>div:nth-child(2)>article {
            text-align: center;
        }

        #section5>div>div:nth-child(2)>article>img {
            margin: auto;
        }
        #section6 {
            height: 100%;
            padding: 20px 10px;
        }

        #section6>article>h2 {
            font-size: 18px;
        }

        /* CSS Index */

        /* CSS Actu */

        #mainactualite h1 {
            padding: 0px 10px;
        }

        #section1actu > div.contain-1440 {
            display: grid;
            grid-template-columns: 1fr;
        }

        #section1actu > div.contain-1440 h2 , #section1actu > div.contain-1440 .button3 {
            grid-column: 1/1;
        }
        /* CSS Actu */

        /* CSS Oeuvre */
        #sectionoeuvre div {
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
        }

        #sectionoeuvre > div > h1 {
            grid-column: 1/1;
        }

        #sectionoeuvre>div>article {
            height: 100%;
            margin: auto;
        }

        /* #sectionoeuvre>article {
            grid-row: 1/3;
        } */



        #sectionoeuvre>div>article> img {
            margin: auto;
            max-width: 50%;
            max-height: 100%;
        }
        /* CSS Oeuvre */

        /* CSS Contact */

        #sectioncontact {
            display: grid;
            grid-template-columns: 1fr;
        }

        #sectioncontact article, #sectioncontact form {
            margin: auto;
            width: 100%;
        }

        /* CSS Contact */

    }





/* Fin CSS Footer */